.img{
    display: block;
    width: 30px;
    margin: 0 auto;
}

.background{
    // --ion-background-color: linear-gradient(to bottom, #36D1DC 10%, #5B86E5 10%);
    --background: url('src/assets/img/img2.jpg')0 0/100% 100% no-repeat;
    // --ion-background-color: #000000;
    font-family: sans-serif;
    // --ion-background-color: linear-gradient(130deg, #509fc9, #e83b59);
    // opacity: 0.7;
    // --background-position: center;
    // --background-size: -5px;
    // --background-repeat: no-repeat;
}

.img-card{
    display: block;
    width: 10px;
    margin: 0 auto; 
}

.welcome-card{
    --background: #699CF5;
    border-radius: 10px;
    box-shadow: 0 0 32px #000000;
    //filter: blur(0px);
    height: 35vh;
}

.ion-text-2{
    color: white;
    font-size: 80px;
    text-align: center;
}

.ion-text-center{
    color: white;
    margin-top: 0px;
    font-size: 15px;
}

.ion-text-h{
    color: white;
    margin-top: 0px;
    font-size: 20;
    text-align: center;
}
