<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sismo Alert & Seguridad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
    <img class="img2" src="assets\img\house.png">
  <br><br>
  
  <ion-item>
    <ion-label class="font">Alerta de Sismo</ion-label>
    <ion-toggle (click)="openToast()" slot="start" name="apple" color="secondary" checked></ion-toggle>
  </ion-item>
  <br>
  <ion-item>
    <ion-label class="font">Sistema de Seguridad</ion-label>
    <ion-toggle (click)="openToast()" slot="start" name="apple" color="secondary" checked></ion-toggle>
  </ion-item>

  <br><br><br><br>

  <ion-card class="style">
    <ion-card-header>
      <ion-card-title>Importante!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El sistema de alarma encendera y apagara luces al detectar un sismo o a algun extraño muy cerca del hogar 
    </ion-card-content>
  </ion-card>

</ion-content>
