<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sismo Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="card1">
    <ion-card-content>
      <ion-grid>
        <ion-row  >
          <ion-col class="imgSismo">
            <div>
             
              <h3 >Alerta</h3>
              <img class="img2" src="https://image.flaticon.com/icons/svg/1684/1684394.svg">
              
            </div>
          </ion-col>
          <ion-col>
            <div class="contentSismo">
              <div *ngIf="data!=true">
                <h5>Desactivado</h5>
              </div>
              <div *ngIf="data!=false">
                <h5>Activado</h5>
              </div>
              <ion-toggle  checked="{{data}}" (ionChange)="openToast($event)"></ion-toggle>
              <div *ngIf="data!=true">
                <h6>Sismo no detectado</h6>
              </div>
              <div *ngIf="data!=false">
                <h6>Sismo detectado</h6>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>