<ion-header translucent>
  <ion-toolbar>
    <ion-title>Modal Content</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="service()">
    <ion-item>
      <ion-label>Sku</ion-label>
      <ion-input type="text" [(ngModel)]="sku" name="sku"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Room</ion-label>
      <ion-textarea [(ngModel)]="room" name="room"></ion-textarea>
    </ion-item>
    <ion-button expand="block"  type="submit" >Add</ion-button>
  </form>

</ion-content>