.background{
    font-family: sans-serif;
}

.img2{
    width: 200px;
    display: block;
    margin: 0 auto;
    
}

.background{
    font-family: sans-serif;
}

.ion-text-center{
    margin: 0px 0px 0px 0px;
  }

.difT{
    margin: 0px 0px 0px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}