<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

      <ion-avatar class="ion-margin-center">
        <img src="https://avatars0.githubusercontent.com/u/46512012?s=460&v=4">
      </ion-avatar>
  <!-- <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img class="img2" src="https://i.pinimg.com/564x/5b/a7/a1/5ba7a1c9d1200a43a4bd9c76bb76568a.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Roberto Rojas</h2>
        <h3>robert15.R@gmail.com</h3>
      </ion-label>
    </ion-item>
  </ion-list> -->
  <br>

  <ion-item>
    <ion-label>Notificaciones en el Dispositivo</ion-label>
    <ion-toggle name="blueberry" checked></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Enviar Notificaciones por Correo</ion-label>
    <ion-toggle name="blueberry" checked></ion-toggle>
  </ion-item>

  <section >
    <ion-button expand="block" color="danger" (click)="authService.logOutFirebase()">LOG OUT</ion-button>
  </section>
  
  <ion-footer no-border>
    <br>
    <h3 class="ion-text-center">from</h3>
    <h1 class="ion-text-center difT">IoTechnology</h1>
  </ion-footer>
</ion-content>

