<ion-header no-border>
  <ion-toolbar class="head">
    <ion-title class="text">
      <!-- <img class="logo" src="assets\img\smartkit.png"> -->
      <br>
      <p class="ion-padding-horizontal">Hola {{username}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <br>
  <h3 class="ion-text-center">Modulos</h3>
  <br>

  <ion-row>
    <ion-col offset-4>
      <div>
        <ion-card routerLink="/temperatura">
          <img class="img2" src="https://image.flaticon.com/icons/svg/1684/1684374.svg">
          <ion-card-header>
            <ion-card-title class="ion-text-center ion-padding-horizontal">Temperatura & Humedad</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-card routerLink="/aire">
          <img class="img2" src="https://image.flaticon.com/icons/svg/1458/1458984.svg">
          <ion-card-header> 
            <ion-card-title class="ion-text-center ion-padding-horizontal">Calidad del Aire</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <ion-card routerLink="/alert">
          <img class="img2" src="https://image.flaticon.com/icons/svg/427/427735.svg">
          <ion-card-header>
            <ion-card-title class="ion-text-center ion-padding-horizontal">Alarma de Sismo</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-col>
    <ion-col offset-4>
      <div>
        <ion-card routerLink="/movimiento">
          <img class="img2" src="https://image.flaticon.com/icons/svg/1100/1100349.svg">
          <ion-card-header>
            <ion-card-title class="ion-text-center ion-padding-horizontal">Alarma de Movimiento</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>

  <!-- <ion-card class="card1" routerLink="/temperatura">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <img class="img2" src="https://image.flaticon.com/icons/svg/1684/1684374.svg">
            </div>
          </ion-col>
          <ion-col>
            <div>
              <h4 class="ion-text-center text1">Temperatura & Humedad</h4>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/aire">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <img class="img2" src="https://image.flaticon.com/icons/svg/1458/1458984.svg">
            </div>
          </ion-col>
          <ion-col>
            <div>
              <h4 class="ion-text-center text1">Calidad del Aire</h4>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/alert">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <img class="img2" src="https://image.flaticon.com/icons/svg/427/427735.svg">
            </div>
          </ion-col>
          <ion-col>
            <div>
              <h4 class="ion-text-center text2">Alarma de Sismo</h4>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/movimiento">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <img class="img2" src="https://image.flaticon.com/icons/svg/2622/2622632.svg">
            </div>
          </ion-col>
          <ion-col>
            <div>
              <h4 class="ion-text-center text2">Alarma de Movimiento</h4>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->

  <ion-fab routerLink="/configuracion" horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>