.img1{
  display: block;
  width: 80px;
  margin: 0 auto;
}

.text{
  font-family: Arial;
  padding: 5px 0 0 0;
  color: #000000;
}

.text1{
  font-family: Arial;
  padding: 18px 0 0 0;
  color: #000000;
}

.text2{
  font-family: Arial;
  padding: 10px 0 0 0;
  color: #000000;
}


// ion-card{
//     // margin: 50px;
//     margin-block-start: 110px;
//     //Espaciado en el Ion-Header
// }

.img2{
  width: 50px;
  display: block;
  margin: 0 auto;
}

.card1{
  margin-block-start: 10px;
}

.head{
  --background: url('https://cdn.dribbble.com/users/1803663/screenshots/5665285/home_2x.png')0 0/100% 100% no-repeat;
  --background-size: cover;
  padding-block-end: 100px;
  height: 30vh;
  border-radius: 0 0 30px 30px;
}

.text{
  
  font-size: 20px;
  font-family: Arial;
  color: #ffffff;
  text-align: center;
}

ion-card{
  border-radius: 10px;
}

p{
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

ion-card-title{
  color: #000000;
  font-size: 15px;
  font-weight: lighter;
  font-family: Arial;

}
