<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="container">
    <div class="row">
      <img class="rounded mx-auto d-block"
        src="https://image.freepik.com/free-vector/smarthome-illustration-collection_2825-90.jpg" alt="" />
      <!-- <h1 class="ion-text-center Bu">Bienvenido: Roberto</h1> -->
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col offset-4>
        <ion-card routerLink="/temperatura" class="welcome-card" type="button">
          <br>
          <img class="img-card" src="https://image.flaticon.com/icons/svg/1684/1684374.svg" alt="" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Temperatura y Humedad</ion-card-title>
          </ion-card-header>
          <br>
        </ion-card>
      </ion-col>
      <ion-col offset-4>
        <ion-card routerLink="/aire" class="welcome-card" type="button">
          <br>
          <img class="img-card" src="https://image.flaticon.com/icons/svg/1458/1458984.svg" alt="" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Calidad del Aire</ion-card-title>
            <br>
          </ion-card-header>
          <br>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-4>
        <ion-card routerLink="/alert" class="welcome-card" type="button">
          <br>
          <img class="img-card" src="https://image.flaticon.com/icons/svg/427/427735.svg" alt="" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Sistem Alert & Seguridad</ion-card-title>
          </ion-card-header>
          <br>
        </ion-card>
      </ion-col>
      <ion-col offset-4>
        <ion-card routerLink="/configuracion" class="welcome-card" type="button">
          <br>
          <img class="img-card" src="https://image.flaticon.com/icons/svg/443/443150.svg" alt="" />
          <ion-card-header>
            <ion-card-title class="ion-text-center">Configuracion</ion-card-title>
            <br>
          </ion-card-header>
          <br>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>