.img-card{
    display: block;
    width: 40px;
    margin: 0 auto;
  }
  
  .test1{
    --background: #000000;
  }
  
  .ion-text-center{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-weight: bold;
  }

  .Bu{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: normal;
  }
