.fa-envelope{
    color: #000000;
}

.fa-key{
    color: #000000;
}

ion-input{
    color: #000000;
    font-family: Arial;
}

.logo{
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-block-start: 65px;
    padding-block-end: 40px;
}

ion-card{
    border-radius: 20px;
    margin-block-end: 50px;
}

.btn{
    --border-radius: 50px;
    --background: #445edb;
    font-family: Arial;
    margin-left: 80px;
    margin-right: 80px;
    height: 50px;
    width: 200px;
}

h4{
    margin-block-start: 0px;
    font-family: Arial;
    color: #2b2a2a;
    font-size: 12.5px;
}

span{
    font-weight: bolder;
    color: #445edb;
}

h2{
    font-family: Arial;
    color: #000000;
    font-size: 20px;

}

.btn-r{
    --border-radius: 100px;
}

.btnAling{
    margin-left: 100px;
}