<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/rooms"></ion-back-button>
    </ion-buttons>
    <ion-title>Movimiento Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="card1">
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col class="imgSismo">
            <div>
             
              <h3>Movimiento</h3>
              <img class="img2" src="https://image.flaticon.com/icons/svg/394/394606.svg">

            </div>
          </ion-col>
          <ion-col>
            <div class="contentMovimiento">
              <div *ngIf="data!=true">
                <h5>Desactivado</h5>
              </div>
              <div *ngIf="data!=false">
                <h5>Activado</h5>
              </div>
              <ion-toggle checked="{{data}}" (ionChange)="openToast($event)"></ion-toggle>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>