.img1{
    display: block;
    width: 80px;
    margin: 0 auto;
}

.text{
    font-family: Arial;
    padding: 5px 0 0 0;
    color: #000000;
}

.text1{
    font-family: Arial;
    padding: 18px 0 0 0;
    color: #000000;
}

.text2{
    font-family: Arial;
    padding: 10px 0 0 0;
    color: #000000;
}

// ion-card{
//     // margin: 50px;
//     margin-block-start: 110px;
//     //Espaciado en el Ion-Header
// }

.img2{
    width: 50px;
}

.card1{
    margin-block-start: 50px;
}
.contentSismo{
    text-align: center;
}
.imgSismo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentSismo h6{
    font-size: smaller;
    font-weight: 100;
}